.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feedback-form input,
.feedback-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feedback-form textarea {
  height: 80px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
}

.feedback-form button {
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
